<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div id="page">
        <h1 id="title"> AI4ALL Project</h1>
        <h3 id="upload text">Upload file here</h3>
        <form method="post" action="/predict" enctype="multipart/form-data">
            <label for="file">File</label>
            <input type="file" id="file" name="file" required>
            <input type="submit">
        </form>

        <p class="output">Prediction: {{output}}</p>
   
        
    </div>
</body>
</html>